<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <meta name="author" content="Интернет-агентство «Артус», «1C.Bitrix»" />
   
        <link href="<%= BASE_URL %>css/vendors.css" rel="stylesheet">
    <title>РосГеология</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but ammi doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    
    
    
    
    <div id="app"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <script>
        
      
    </script>
  <!--  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5iGn6X9K1RrW0hJ2x0UEtjHW3sxzsHkA&callback=initMap&language=ru"
            type="text/javascript"></script>-->
   
   
    <% if (NODE_ENV === 'production' && VUE_APP_FOR_BACKEND==='on') { %>
    <script src="<%= BASE_URL %>js/vendors.jsOff"></script>
    <script src="<%= BASE_URL %>js/main.jsOff"></script>
    <% } else { %>
    <script src="<%= BASE_URL %>js/vendors.js"></script>
    <script src="<%= BASE_URL %>js/main.js"></script>
    <% }  %>
  </body>
</html>
