<template lang="pug">
    article.page-index
        v-container.page-index__container
     
            ul.page-index__list
                li.page-index__item
                    h1.page-index__name.h1 Карта верстки
                    tags-style.page-index__item
                        nav
                            ul
                                li(v-for='(item, index) in itemList', :key='index')
                                    router-link(:to='{ name: item.name }') {{item.meta.title}}
                   

</template>

<script>




export default {

    components: {
    


    },
    computed: {
        itemList() {
            return this.$router.options.routes.filter(item=>item.meta.title)
        }
    }
};
</script>

<style lang="scss">
.page-index {
    &__list {
        display: grid;
        grid-auto-rows: min-content;
        gap: 10em;
    }
}
</style>
