<template lang="pug">
    article.page-main
        tags-style
            h1 Главная
</template>

<script>
export default {
    name: "PageMain", 
    data() {
        return {}
    },   
}
</script>

<style lang="scss">
    .page-main{}
</style>
