<template lang="pug">
    
        svg.sprite-icon(
            
            :class="`v-icon_${name}`"
            role="presentation"): use( :xlink:href="src" )
</template>

<script>

   /* const svgModules = require.context('@/assets/svgSprite/icons/', false, /\.svg$/);
    svgModules.keys().forEach(svgModules);*/

    function requireAll(r) {
        r.keys().forEach(r);
    }

    requireAll(require.context('@/assets/svgSprite/icons/', true, /\.svg$/));
/* const sistemFiles = require.context('!svg-sprite-loader!@/assets/svgSprite/icons/', true, /.*\.svg$/)  //Todo то у плагина не работает режим extract
    console.log(sistemFiles);
    const importAll = (r) => r.keys().forEach(function (r) {
        console.log(r);
    })
    importAll(sistemFiles);*/
//files.keys().forEach(files);

/*import IconPlus from "@/assets/svgSprite/icons/other/plus.svg";
import iconDecorCircle from "@/assets/svgSprite/icons/custom/decor-circle.svg";
import IconDot from "@/assets/svgSprite/icons/custom/arrow-type-1-dot.svg";
import iconList from "@/assets/svgSprite/icons/custom/iconList.svg";
import iconQuestion from "@/assets/svgSprite/icons/custom/iconQuestion.svg";
import iconFollow from "@/assets/svgSprite/icons/custom/iconFollow.svg";*/
import VIcon from "@/components/VIcon";





export default {
    components: {VIcon},
    props: {
        name: {
            required: true
        }
    },
    computed: {
        src() {
            //return `#${this.name}`;

            return `/img/sprite.svg#${this.name}`;
        }
    },
    created() {}
};
</script>

<style lang="scss">
    .sprite-icon {
        max-width:100%;
        max-height:100%;
        
       
    }
</style>
