<template lang="pug">
    .v-container
        slot
</template>

<script>
    export default {
        name: "VContainer",
        data() {
            return {};
        }
    };
</script>

<style lang="scss">
    .v-container {
        max-width: 1200px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: $glob-space-sm;
        padding-right: $glob-space-sm;
        position: relative;
    }
</style>
