<template lang="pug">
    label.v-field(:class="{'icon-right':iconRight}")
        input(autocomplete="off" name="email" type="text" placeholder="Введите свой e-mail").v-field__input
        v-icon.v-field__icon
            icon-email
</template>

<script>
import iconEmail from "@/assets/icons/email.svg?inline";
import VIcon from "@/components/VIcon";
export default {
    name: "VField",
    components: {
        VIcon,
        iconEmail
    },
    props: {
        iconRight: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {};
    }
};
</script>

<style lang="scss">
.v-field {
    $box-shadow: $glob-box-shadow;
    $radius: $glob-radius;
    $px: $glob-space;
    $py: $glob-space-mlg;
    position: relative;
    &.icon-right &__input {
        padding-right: 5em;
    }
    &__input {
        width: 100%;
        box-shadow: $box-shadow;
        border-radius: $radius;
        padding: calc(#{$py} / 2) $px;
        line-height: 1;
        border: 1px solid transparent;
        @include placeholder {
            color: rgba(91, 91, 128, 0.34);
        }
    }
    &__icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 $px;
        pointer-events: none;
    }
}
</style>
