<template lang="pug">
    .v-footer
        v-container
            v-social
            hr
            | footer
</template>
<script>
import VContainer from "@/components/VContainer";
import VIcon from "@/components/VIcon";
import VSocial from "@/components/VSocial";
//import excl from "@/assets/icons/other/excl.svg?inline";
//import fork from "@/assets/icons/other/fork.svg?inline";
export default {
    name: "VFooter",
    components: {
        VIcon,
        VSocial,
        VContainer,
    /*    excl,
        fork*/
    },
    created() {}
};
</script>

<style lang="scss">
.v-footer {
    
}
</style>
