<template lang="pug">
    header
        v-container
            | header
            router-link(to="/")
                img(src="@/assets/img/logoDev.png" alt="")
            hr
        
    
             

</template>

<script>




export default {
    name: "VHeader",
    components: {
   
    },

    data() {
        return {};
    }
};
</script>

<style lang="scss">


</style>
