<template lang="pug">
    span.v-icon(v-on="inputListeners" hidden  :class="`v-icon-${spriteName}`")
        svg.v-icon__svg(
        v-if="spriteName",
        :class="`v-icon__svg_${spriteName}`"
        role="presentation"): use( :xlink:href="src" )
        slot
</template>

<script>
    function requireAll(r) {
        r.keys().forEach(r);
    }

    requireAll(require.context('@/assets/svgSprite/icons/', true, /\.svg$/));
export default {
    name:'VIcon',
    props:{
        spriteName:{
            type:String,
            default:''
        }
    },
    data() {
        return {};
    },
    computed: {
        src() {
            
            if(process.env.NODE_ENV === "production" && process.env.VUE_APP_FOR_BACKEND=='on') return `/img/sprite.svg#${this.spriteName}`
            else return `#${this.spriteName}`
            //return `#${this.name}`;

        
        },
        inputListeners() {
            const vm = this;
            // `Object.assign` объединяет объекты вместе, чтобы получить новый объект
            return Object.assign(
                {},
                // Мы добавляем все слушатели из родителя
                this.$listeners
                // Затем мы можем добавить собственные слушатели или
                // перезаписать поведение некоторых существующих.
            );
        }
    }
};
</script>

<style lang="scss">
.v-icon {
    &[hidden]{
        display: inline-block;
    }
    
    &__svg {
        fill: inherit;
        width:100%;
        height:auto;
        max-height:100%;
        display:block;
        
    }
    
   
    vertical-align: middle;
    

    
   
}
</style>
