<template lang="pug">
    .v-map
        
        //v-map-marker-popup
        
</template>

<script>
import VMapMarkerPopup from "@/components/VMapMarkerPopup";
export default {
    name: "v-map",
    components: {VMapMarkerPopup},
    data() {
        return {
         
        }
    }  
}
</script>

<style lang="scss">
    .v-map{
        @include abs-stretch;
        background-color:$glob-color-dark;
        
        .map-marker-group {
            //@include abs-stretch;
            //background-color:$glob-color-accent-dark;
            border-radius:50%;
            width:59px!important;
            height:59px!important;
            line-height:59px!important;
            
            //img {display:none}
            div {
                width:59px!important;
                height:59px!important;
                line-height:59px!important;
                font-size:24px!important;
                font-family:$glob-font-family-h!important;
            }
        }
    }
</style>
