<template lang="pug">
    .v-range
        .js-range(data-start-min='500000' data-start-max='75500000')
            slot
</template>

<script>
export default {
    name: "VRange",
    data() {
        return {}
    },   
}
</script>

<style lang="scss">
.v-range{
    .noUi-connect {
        background: $glob-color-accent-dark;
        height:2px;
    }
    .noUi-target {
        background: $glob-color-dark;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }
    .noUi-horizontal {
        height: 1px;
    }
    .noUi-horizontal .noUi-handle {
        width: 15px;
        height: 15px;
        right: -8px;
        top: -7px;
    }
    .noUi-handle {
        border: none;
        border-radius: 50%;
        background: $glob-color-accent-dark;
        box-shadow: none;
        &:before {
            display:none;
        }
        &:after {
            display:none;
        }
    }
    .noUi-tooltip {
        border:none;
    }
    .range-val {
        font-weight:500;
        margin-left:pxem(5);
    }
}
</style>
