<template lang="pug">
    .v-select
        select.js-select
            slot
</template>

<script>
export default {
    name: "VSelect",
    data() {
        return {}
    },   
}
</script>

<style lang="scss">
    .v-select{
        width:100%;
        display:inline-block;
        vertical-align:middle;
        color: $glob-color-dark;
        //text-transform:uppercase;


        .select2-hidden-accessible {
            display:none;
        }

        .select2-container {
            width:100% !important;
        }
        .select2-dropdown {
            box-shadow: 0px 13px 34px rgba(0, 0, 0, 0.17);
            border:none;
        }
        .select2-container--open {
            //box-shadow: 0px -1px 34px rgba(0, 0, 0, 0.17);
        }
        .select2-selection--single {
            border: 1px solid $glob-color-disabled;
            border-radius: 0;
            height:auto;
        }
        .select2-results__option--highlighted.select2-results__option--selectable {
            background-color:$glob-color-accent;
            color: currentColor;
        }
        .select2-selection__rendered {
            padding: pxem(16) pxem(45) pxem(16) pxem(25) !important;
        }
        .select2-results__option {
            padding: pxem(16) pxem(20) pxem(16) pxem(25);
        }
        .select2-selection__arrow {
            top:50% !important;
            transform:translateY(-50%);
            width:44px !important;
            b {
                border-color: $glob-color-accent transparent !important;
            }
        }
    }
</style>
