<template lang="pug">
    .v-social
        
        ul.v-social__list
            li.v-social__item
                a.v-social__link(href="//facebook.com" target="_blank" rel="nofollow").fa
                    img(src="@/assets/icons/socials/fa.png" alt="fa")
            li.v-social__item
                a.v-social__link(href="//facebook.com" target="_blank" rel="nofollow").vk
                    img(src="@/assets/icons/socials/vk.png" alt="vk")
                  
            li.v-social__item
                a.v-social__link(href="//facebook.com" target="_blank" rel="nofollow").inst
                    img(src="@/assets/icons/socials/inst.png" alt="inst")
            
            li.v-social__item
                a.v-social__link(href="//facebook.com" target="_blank" rel="nofollow").ytb
                    img(src="@/assets/icons/socials/ytb.png" alt="ytb")
               
            li.v-social__item
                a.v-social__link(href="//facebook.com" target="_blank" rel="nofollow").ln
                    img(src="@/assets/icons/socials/ln.png" alt="ln")
                 


</template>

<script>
import fa from "@/assets/icons/socials/fa.svg?inline";
import vk from "@/assets/icons/socials/vk.svg?inline";
import ln from "@/assets/icons/socials/ln.svg?inline";
import inst from "@/assets/icons/socials/inst.svg?inline";
import ytb from "@/assets/icons/socials/ytb.svg?inline";
export default {
    name: "VSocial",
    components: {
        fa,
        vk,
        ln,
        inst,
        ytb
    },
    data() {
        return {};
    }
};
</script>

<style lang="scss">
.v-social {
    $font-weight: $glob-font-weigh-bold;
    $font-size: $glob-fs-small;
    $space: $glob-space;
    $space-md: $glob-space-md;
    $color: $glob-color-default;
    padding: pxem(20);
    text-align: center;
    position: relative;
    &__text {
        font-size: $font-size;
        font-weight: $font-weight;
        margin-bottom: $space;
    }
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    &__item {
        margin: 0 14px;
        @include media("<xs") {
            margin: 0 7px;
        }
    }

    &__link {
        width: 25px;
        height: 25px;
        padding: 0 4px;
        box-sizing: content-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        //&-icon {
        //    position: relative;
        //    z-index: 2;
        //    fill: $glob-color-disabled;
        //}
        //&.fa svg {
        //    width: 11px;
        //    height: 17px;
        //}
        //&.vk svg {
        //    width: 19px;
        //    height: 17px;
        //    padding-top: 2px;
        //}
        //&.inst svg {
        //    width: 18px;
        //    height: 17px;
        //}
        //&.ytb svg {
        //    width: 20px;
        //    height: 15px;
        //}
        //&.ln svg {
        //    width: 16px;
        //    height: 16px;
        //}
    }
    &__link-bg {
        //justify-content: center;
        //align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
</style>
