<template lang="pug">
    .v-tabs.js-tabs
        slot
</template>

<script>
export default {
    name: "v-tabs",
    data() {
        return {};
    }
};
</script>

<style lang="scss">
.v-tabs {
    [data-tab] {
        display: none;
    }
    [data-tab].active {
        display: block;
    }
}
</style>
