<template lang="pug">
    .page
        v-header
     
        //nav
            ul
                li: nuxt-link(to="/") /
                li: nuxt-link(to="/catalog") /catalog
        main.page__main
            router-view
        v-footer


</template>

<style></style>
<script>
import VHeader from "@/components/VHeader";
import VFooter from "@/components/VFooter";


export default {
    components: {
     
        VFooter,
        VHeader,

    },
    created() {}
};
</script>

<style lang="scss">

@include pageSettings;
@include pageSettingsBodyText;
@include pageSettingsFormClear;
@include pageSettingsTagClear;

:root {
    @each $i, $c in $globVars {
        #{$glob-prefix}#{$i}: #{$c};
    }
    @each $i, $c in $globHSizePx {
        #{$glob-prefix}#{$i}: pxem($c);
    }
    @each $i, $c in $glob-colors {
        #{$prefix}color-#{$i}: #{$c};
    }
}

.page {
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    //overflow: hidden;
    min-height: 100vh;
    fill: $glob-color-dark;

    &__main {
        flex: 1 0 auto;
    }
}
</style>
