@mixin pageSettingsBodyText {
    $pageStyle: $glob-font-style;
    $pageWeight: $glob-font-weight;
    $pageSize: $glob-base-size-text-px *1px;
    $pageFamily: $glob-font-family;
    $pageLineHeight: $glob-line-height;
    $pageBg: $glob-color-default;
    $pageColor:$glob-color-main;

    html {
        font:$pageStyle $pageWeight $pageSize/$pageLineHeight $pageFamily;
        color:$pageColor;
        background-color:$pageBg;
    }

}



$fs-h1:$glob-fs-h1;
$fs-h2:$glob-fs-h2;
$fs-h3:$glob-fs-h3;
$fs-h4:$glob-fs-h4;
$fs-h5:$glob-fs-h5;
$fs-h6:$glob-fs-h6;
$h-font-family:$glob-font-family-h;
$h-color:$glob-color-primary;
$h-line-height:$glob-line-height-sm;

$fs-small:$glob-fs-small;
$p-margin-bottom:1em;
$h-margin-bottom:.6em;

$color-link-hover:$glob-color-error;

@mixin h($level) {
    margin-top:0;
    margin-bottom:$h-margin-bottom;
    line-height:$h-line-height;
    font-weight:500;
    color:$h-color;
    font-family:$h-font-family;
    text-transform:uppercase;
    word-break: break-word;
    @if $level==1{font-size:$fs-h1;font-weight:500;}
    @if $level==2 {font-size:$fs-h2;}
    @if $level==3 {font-size:$fs-h3;}
    @if $level==4{font-size:$fs-h4;font-weight:600;}
    @if $level==5{font-size:$fs-h5;font-weight:600;}
    @if $level==6{font-size:$fs-h6;font-weight:600;}
}

@mixin a {
    @include trans;

    color: inherit;
    &:hover {
        color: inherit;
        text-decoration:underline;
    }
}

@mixin img {
    display:inline-block;
    object-fit:cover;
}

@mixin ul {
    margin-left:pxem(20);
    list-style-type:disc;


    margin: pxem(30) 0;
    padding: 0 pxem(15);
    li {
        list-style: none;
        display: flex;
        align-items: flex-start;
        //flex-wrap: wrap;
        margin-bottom: pxem(10);
        &:before {
            content: '';
            min-width: 8px;
            min-height: 8px;
            background-color: $glob-color-accent-dark;
            border-radius: 100%;
            margin-right: pxem(20);
            margin-top: pxem(9);
        }
    }
    
}

@mixin table {
    font-family: $glob-font-family-s;
    margin: pxem(20) 0;
    thead {}
    tbody {}
    tr {
        text-align: center;
        &:nth-child(even) {
            background-color: $glob-color-light;
        }
    }
    th {
        font-weight: 600;
        padding: pxem(25) pxem(60);
        background-color: $glob-color-dark;
        color: $glob-color-default;
    }
    td {
        padding: pxem(25) pxem(60);
        
    }
}



@mixin p {
    margin:0 0 $p-margin-bottom;
}


@mixin strong {
    font-weight:600;
    display: inline-block;
}
@mixin small {
    font-size:$fs-small;
}

@mixin mark {
    position: relative;
    background-color: transparent;
    display: inline-block;
    padding-left: 1em;
    font-weight:bold;
    &:before {
        position: absolute;
        top: 0;
        transform: translateY(30%);
        left: 0;
        content: '';
        width: 2px;
        height: 1em;
        display: inline-block;
        background-color: $glob-color-accent-dark;
    }
    
}

@mixin blockquote {
    border-left: 1px solid $glob-color-accent-dark;
    padding-left: pxem(25);
    font-size: $glob-fs-h4;
    //margin-bottom:$p-margin-bottom;
    margin-bottom: pxem(30);
}









@mixin pageSettingsFormClear {
    input[type="search"]::-webkit-search-cancel-button{
        -webkit-appearance:none;
    }
    input[type=time] {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &::-webkit-clear-button {
            display: none;
        }
        -moz-appearance:textfield;
        -moz-creation: searchfield;
        -webkit-appearance: none;
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            display: none
        }
    }
    ::-ms-clear,
    ::-ms-reveal{
        display:none;
    }
    fieldset{
        border:0;
        padding:0;
        margin:0;
        min-width:auto;
        width:100%;
    }
    legend{
        box-sizing: border-box; /* 1 */
        color: inherit; /* 2 */
        display: table; /* 1 */
        max-width: 100%; /* 1 */
        padding: 0; /* 3 */
        white-space: normal; /* 1 */
        width:100%
    }
    label{
        display:block;
    }
    textarea{
        resize:vertical
    }
    button, input, select, textarea{
        line-height:1.2;
        font-size:inherit;
        font-weight:inherit;
        color:inherit;
    }
    input[type=submit]:not([value]){
        outline:2px solid red;
    }
    input{
        
        @include placeholder{ color:inherit; }
    }
    button,
    label,
    input[type="submit"],
    input[type="reset"]{
        cursor:pointer;
    }
}

@mixin pageSettingsTagClear{
    h1,h2,h3,h4,h5,h6 {
        margin:0;
        font-weight:inherit;
        font-family:inherit;
        font-size:inherit;
        color:inherit;
        line-height:inherit;
    }
    .h1{ @include h(1)}
    .h2{ @include h(2)}
    .h3{ @include h(3) }
    .h4{ @include h(4) }
    .h5{ @include h(5) }
    .h6{ @include h(6) }
    a {
        color:inherit;
        text-decoration:none;
    }
    .a {@include a;}
    p{margin:0;}
    .p {@include p;}
    strong{font-weight:inherit;}
    .strong {@include strong;}
    small{font-size:inherit}
    .small {@include small;}
    .mark {@include mark}
  
    blockquote {margin:0}
    .blockquote {@include blockquote}
    figure{
        margin:0
    }
    img {
        max-width:100%;
        vertical-align:middle;
    }
    hr{
        display:block;
        height:1px;
        margin:1.5em 0;
        padding:0;
        border:0;
        background:$glob-color-dark;
    }
    svg {display:inline-block;vertical-align:middle}

    ul > *:not(li),
    ol > *:not(li),
    dl > *:not(dt):not(dd){
        outline:2px solid red;
    }
    ul, ol, dl, dt, dd{
        list-style:none;
        margin:0;
        padding:0;
    }
    .ul {
        @include ul;
    }
    .table {
        @include table;
    }
    table{ border-spacing:0; border-collapse:collapse; margin:0; vertical-align:top }
    th{text-align:inherit;font-weight:inherit}
    th{font-weight:inherit}
    tbody, tfoot, thead, tr, th, td{ vertical-align:inherit; }


}


@mixin pageSettingsTagStyle {

    h1{ @include h(1)}
    h2{ @include h(2)}
    h3{ @include h(3) }
    h4{ @include h(4) }
    h5{ @include h(5) }
    h6{ @include h(6) }

    a {@include a}
    p{@include p}
    strong{@include strong}
    small{@include small}
    ul{@include ul}
    ol{@include ul}
    table{@include table}
    
    mark{@include mark}
    blockquote{@include blockquote}
  
    img {@include img}
    .truncated {
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }

}





@mixin pageSettings{
 /*   * {
        scrollbar-color: #b5b7cb #eaf0f7;
        scrollbar-width: thin;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }*/

    html {
        box-sizing: border-box;
        line-height: 1.15; /* 1 */
        -webkit-text-size-adjust: 100%; /* 2 */
        overflow: hidden auto;
    }
    body {
        -moz-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        min-width: 320px;
    }
    *,
    *::after,
    *::before {
        box-sizing: inherit;
    }
    * {
        -webkit-tap-highlight-color: transparent;
        &:focus {
            outline: none;
        }
    }

    



    html {

    }
    body {
        line-height:inherit;
        background-color: inherit;
        color: inherit;
    }
    [hidden] {
        display: none;
    }
}



 




















