
$prefix:$glob-prefix;

$glob-colors:(
        accent:#FFDB1C,
        accent-dark:#E4AA00,
        accent-light:#e5b739,
        light:#F6F6F6,
        //light: red,
        default:#fff,
        success:#20a034,
        error:#A02040,
        primary:#333,
        dark: #383838,
        info:#e3eaf2,
        darkly: #666,
        disabled:#999999,
        border:#DBE6F3,
        main:#333333,
        secondary:#091C48,
        
);


@function get($color-name) {
    @return var(#{$prefix}color-#{$color-name});
}


$glob-color-accent-dark:get(accent-dark);
$glob-color-accent-light:get(accent-light);
$glob-color-darkly:get(darkly);
$glob-color-accent:get(accent);
$glob-color-light:get(light);
$glob-color-default:get(default);
$glob-color-success:get(success);
$glob-color-error:get(error);
$glob-color-primary:get(primary);
$glob-color-info:get(info);
$glob-color-disabled:get(disabled);
$glob-color-border:get(border);
$glob-color-main:get(main);
$glob-color-secondary:get(secondary);

$glob-color-dark:get(dark);
$glob-color-placeholder:get(placeholder);










