@mixin font-face($font-name,$font-file,$font-style,$font-weight){
    @font-face{
        font-family:'#{$font-name}';
        /*       src:url('~@/assets/fonts/#{$font-file}.eot');
               src:url('~@/assets/fonts/#{$font-file}.eot?#iefix') format('embedded-opentype'),
               url('~@/assets/fonts/#{$font-file}.woff') format('woff'),*/
        src:url('~@/assets/fonts/#{$font-file}.ttf') format('truetype'); /* Safari, Android, iOS */
        //url('~@/assets/fonts/#{$font-file}.svg##{$font-file}') format('svg'); /* Legacy iOS */
        font-style:#{$font-style};
        font-weight:#{$font-weight};
        text-rendering:optimizeLegibility;
    }
}




















@mixin listClear {
    list-style-type:none;
    padding-left:0;
    margin-top:0;
    margin-bottom:0;
}

@mixin formfieldsetClear {
    fieldset{
        border:0;
        padding:0;
        margin:0
    }
    legend{
        width:100%
    }
}

@mixin trans {
    transition:all .3s linear;
}

@mixin row-offset {
    margin-left:calc(jsvar(space) / -2);
    margin-right:calc(jsvar(space) / -2);

}
@mixin row-offset-a {
        margin:calc(jsvar(space) / -2);
}

@mixin row-offset_col {
    padding-left:calc(jsvar(space) / 2);
    padding-right:calc(jsvar(gap) / 2);

}

@mixin row-offset-a_col {
    padding:calc(jsvar(gap) / 2);

}

@mixin abs-stretch {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

@mixin normalizeInput(){

    font-family:inherit; /* 1 */
    font-size:100%; /* 1 */
    line-height:1.15; /* 1 */
    margin:0; /* 2 */
    overflow:visible;
    height:auto;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        line-height:1.15;
    }
}

@mixin img {

        max-width:100%;
        border-radius:$glob-radius;
       
        display:block;
        &:not([alt]){outline:2px solid red;
        }

}







@mixin placeholder{
    &::-webkit-input-placeholder{
        @content;
    }

    &:-moz-placeholder{ /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder{ /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder{
        @content;
    }
}



@mixin imgAbs {
    @include abs-stretch;
    height:100%;
    width:100%;
    object-fit:cover;
}


@mixin bgImg {
    background:no-repeat center/cover;
}




@function indent($name,$number:1){
    $size:0;
    @if $name=='xs' {$size:15}
    @if $name=='sm' {$size:30}
    @if $name=='md' {$size:50}
    @if $name=='lg' {$size:75}
    @if $name=='xlg' {$size:90}
    @return jspx($size * $number)
}


@mixin visuallyhidden{
    position:absolute;
    white-space:nowrap;
    width:1px;
    height:1px;
    overflow:hidden;
    border:0;
    padding:0;
    clip:rect(0 0 0 0);
    clip-path:inset(50%);
    margin:-1px;
}


@mixin media($name){
    @if $name == '<xs'{
        @media (max-width:$glob-viewport-xs){@content;}
    } 
    @if $name == 'xs>'{
        @media (min-width:calc(#{$glob-viewport-xs} + 1px)){@content;}
    } 
    @if $name == '<sm'{
        @media (max-width:$glob-viewport-sm){@content;}
    } 
    @if $name == 'sm>'{
        @media (min-width:calc(#{$glob-viewport-sm} + 1px)){@content;}
    }  
    @if $name == '<lg'{
        @media (max-width:$glob-viewport-lg){@content;}
    } 
    @if $name == 'lg>'{
        @media (min-width:calc(#{$glob-viewport-lg} + 1px)){@content;}
    }  
    @if $name == '<xlg'{
        @media (max-width:$glob-viewport-xlg){@content;}
    } 
    @if $name == 'xlg>'{
        @media (min-width:calc(#{$glob-viewport-xlg} + 1px)){@content;}
    } 

}






%fieldset {
    padding:0;
    border:0;
    margin:0;
    min-width:auto;
    width:100%;
}

@mixin normalizeBtn(){
    &,& * {
        cursor:pointer;
    }

    @include trans;
    background-color:transparent;
    font-family:inherit; /* 1 */
    font-size:100%; /* 1 */
    line-height:1.15; /* 1 */
    margin:0; /* 2 */
    overflow:visible;
    text-transform:none;
    height:auto;

    &[type="button"],
    &[type="reset"],
    &[type="submit"]{
        -webkit-appearance:button;
    }

    &:-moz-focusring,
    &[type="button"]:-moz-focusring,
    &[type="reset"]:-moz-focusring,
    &[type="submit"]:-moz-focusring{
        outline:1px dotted ButtonText;
    }

    &::-webkit-file-upload-button{
        -webkit-appearance:button; /* 1 */
        font:inherit; /* 2 */
    }
}


@mixin decor-circle-abs-setting($size) {
        @if ($size) {
            & .decor-circle-abs__dot {
                margin: $size;
            } 
        }
  
        &:hover .decor-circle-abs__dot {
            transform: rotate(-320deg);
        }    
   
   
}



