$glob-prefix:'--';
$glob-base-size-text-px:15;

@function get($name) {
    @return var(#{$glob-prefix}#{$name});
}
@function pxem($target, $context: $glob-base-size-text-px){
    $target:$target * 1px;
    $context:$context*1px;
    @return ($target / $context) * 1em;
}


/*$glob-viewport-xs:600px;
$glob-viewport-sm:960px;
$glob-viewport-lg:1264px;
$glob-viewport-xlg:1904px;*/
$glob-viewport-xs:767px;
$glob-viewport-sm:1024px;
$glob-viewport-lg:1264px;
$glob-viewport-xlg:1904px;

$glob-grid-lg:1785px;


$globVars:(
    radius: 20px,
    radius-sm: 10px,
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.08),
    line-height: 1.7,
    line-height-sm: 1.25,
    line-height-xs: 1.1,
    font-family:'PFDinTextPro, Helvetica, Arial, sans-serif',
    font-family-h:'PFDinTextCompPro, Helvetica, Arial, sans-serif',
    font-family-s:'PFDinDisplayPro, Helvetica, Arial, sans-serif',
    font-weight: 400,
    font-weight-bold: 600,
    font-style: normal,

    space-2lg: pxem(100),
    space-xlg: pxem(80),
    space-lg: pxem(65),
    space-mlg: pxem(40),
    space: pxem(35),
    space-md: pxem(20),
    space-sm: pxem(15),
    space-xs: pxem(10),
    
    

    viewport-xs:$glob-viewport-xs,
    viewport-sm:$glob-viewport-sm,
    viewport-lg:$glob-viewport-lg,
    viewport-xlg:$glob-viewport-xlg,


    header-height:pxem(105)
);



$glob-radius:get(radius);
$glob-radius-sm:get(radius-sm);
$glob-box-shadow:get(box-shadow);
$glob-line-height:get(line-height);
$glob-line-height-sm:get(line-height-sm);
$glob-line-height-xs:get(line-height-xs);
$glob-font-family:get(font-family);
$glob-font-family-s:get(font-family-s);
$glob-font-family-h:get(font-family-h);
$glob-font-weight:get(font-weight);
$glob-font-weigh-bold:get(font-weight-bold);
$glob-font-style:get(font-style);

$glob-space-2lg:get(space-2lg);
$glob-space-xlg:get(space-xlg);
$glob-space-lg:get(space-lg);
$glob-space-mlg:get(space-mlg);
$glob-space:get(space);
$glob-space-md:get(space-md);
$glob-space-sm:get(space-sm);
$glob-space-xs:get(space-xs);
$glob-header-height:get(header-height);





$globHSizePx:(
  
    fs-h1: 65,
    fs-h2: 50,
    fs-h3: 34,
    fs-h35: 26,
    fs-h4: 20,
    fs-h5: 18,
    fs-h6: 14,
    fs-main:$glob-base-size-text-px,
    fs-small:14,
    fs-small-sm:12,
    fs-small-xs:10,
);





$glob-fs-h1:get(fs-h1);
$glob-fs-h2:get(fs-h2);
$glob-fs-h3:get(fs-h3);
$glob-fs-h35:get(fs-h35);
$glob-fs-h4:get(fs-h4);
$glob-fs-h5:get(fs-h5);
$glob-fs-h6:get(fs-h6);
$glob-fs-main:get(fs-main);
$glob-fs-small:get(fs-small);
$glob-fs-small-sm:get(fs-small-sm);
$glob-fs-small-xs:get(fs-small-xs);








